<div class="flex flexwrap mb-10">
  <div class="w-9/12">
     <owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide>
        <img src = "slider-image-1.jpeg" alt="" class="h-[500px]" /></ng-template>  
    <ng-template carouselSlide>
        <img src = "slider-image-2.jpeg" alt="" class="h-[500px]" />
    </ng-template>  
    <ng-template carouselSlide>
        <img src = "slider-image-3.jpeg" alt="" class="h-[500px]" />
    </ng-template>  
  </owl-carousel-o>
  </div>
  <div class="w-3/12">
    <img src = "grocery-banner.png" alt="" class = "h-[250px]" />
    <img src = "grocery-banner-2.jpeg" alt="" class = "h-[250px]" />
  </div>
</div>