
<form [formGroup]="loginForm" class="max-w-md mx-auto" (ngSubmit)="login()">
  @if(apiError){
    <div class="flex p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      {{apiError}}
    </div>
      }

  <div class="relative z-0 w-full mb-5 group">
      @let emailControl=loginForm.get("email");
      <input type="email" formControlName="email" name="floating_email" id="floating_Email" class="input-style peer" placeholder=" " required />
      <label for="floating_Email" class="peer-focus:font-medium label-style peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
    
      @if(emailControl?.errors && emailControl?.touched){
        <div class="flex p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <ul class="list-none list-inside">
            @if(emailControl?.getError("required")){<li>Email is required</li>}
            @else if(emailControl?.getError("email")){<li>Enter a valid email</li>}
        </ul>
      </div>  
      }
  </div>


  <div class="relative z-0 w-full mb-5 group">
      @let passwordControl=loginForm.get("password");
      <div class="relative">
         <input [type]="toggleInput? 'password' : 'text'" formControlName="password" name="floating_Password" id="floating_Password" class="input-style peer" style="padding-right: 3rem;" placeholder=" " required />
      <label for="floating_Password" class="peer-focus:font-medium label-style peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
      <span (click)="togglePassword()" class="absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer"><i class="fa {{toggleInput ? 'fa-eye' : 'fa-eye-slash'}}"></i> </span>
      </div>
     
      @if(passwordControl?.errors && passwordControl?.touched){
          <div class="flex p-3 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <ul class="list-none list-inside">
              @if(passwordControl?.getError("required")){<li>Password is required</li>}
              @else if(passwordControl?.getError("pattern")){<li>Password must start with a capital letter and contain at least 6 characters</li>}
          </ul>
        </div>  
        }
  </div>


  
  <button type="submit" class="main-btn">
    @if(isCallingAPI){
      <i class="fa fa-spin fa-spinner"></i>
    }
    @else{Login}
    
    </button>

</form>
